@charset "UTF-8";

/* ==========
variables
========== */

:root {
    --cor-1: #00040D;
    --cor-2: #4C734E;
    --cor-3: #022601;
    --cor-4: #010D00;
    --cor-5: #736A5A;
    --cor--texto: #E5D3B7;
    outra opção de cor de texto um pouco mais escura é: #E4D4B4;
}

/* ==========
global styles
========== */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ==========
header
========== */

header {
    /* border: 5px solid yellow; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    background-color: var(--cor-1);
    background-image: url('images/LT-png-fundo-branco-verde.png');
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: 75px;
    background-size: contain;
}


#nav {
    display: flex;
    justify-content: center;
    align-items: center;
}

#nav h1 {
    width: auto;
    text-align: center;
    font-size: 2em;
    font-weight: bolder;
    color: var(--cor--texto);
}

#logo {
    /* border: 5px solid blue; */
    margin: 25px auto 0 50px;
}

#trade-mark {
    /* border: 5px solid blue; */
    margin: 25px 50px 0 auto;
}

#menu {
    /* border: 5px solid green; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    list-style: none;
    color: var(--cor--texto);
    font-size: 1.5em;
    width: 200px;
}

#menu li {
    padding: 25px;
    /* margin-left: 25px; */
}

#professional-midia {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    /* border: 5px solid brown; */
}

#professional-midia a i{
    text-decoration: none;
    font-size: 2em;
    padding: 10px;
    margin: 10px;
    color: var(--cor--texto);
    border: 1px solid var(--cor--texto);
    border-radius: 100%;
}

#linkedin {
    margin-right: 25px;
}

@media (max-width: 600px) {
    header {
        /* border: 5px solid yellow; */
        justify-content: flex-start;
        background-position-y: bottom;
    }
        
    #nav {
        flex-direction: column;
        height: auto;
        width: 100%;
        /* border: 5px solid blue; */
    }
      
    #logo {
        /* border: 5px solid blue; */
        margin: 5px auto;
    }
    
    #trade-mark {
        /* border: 5px solid blue; */
        margin: 5px auto;
    }
    
    #menu {
        /* border: 5px solid green; */
        flex-direction: row;
        align-items: center;
        list-style: none;
        height: auto;
        width: 100%;
    }
    
    #menu li {
        padding: 10px;
    }
    
    #professional-midia {
        justify-content: center;
        align-items: center;
        height: auto;
        width: 100%;
        /* border: 5px solid brown; */
    }
    
    #linkedin {
        margin: 0;
    }
}

@media (orientation: landscape) and (max-height: 600px) {
    header {
        /* border: 5px solid yellow; */
        justify-content: flex-start;
        background-position-y: 40px;
        height: 100%;
    }
        
    #nav {
        flex-direction: row;
        height: auto;
        width: 100%;
        /* border: 5px solid blue; */
    }
      
    #logo {
        /* border: 5px solid blue; */
        margin: 5px auto;
    }
    
    #trade-mark {
        /* border: 5px solid blue; */
        margin: 5px auto;
    }
    
    #menu {
        /* border: 5px solid green; */
        flex-direction: column;
        align-items: flex-start;
        list-style: none;
        height: auto;
        margin: auto 0;
        width: 100%;
    }
    
    #menu li {
        padding: 20px;
    }
    
    #professional-midia {
        justify-content: flex-end;
        height: auto;
        width: 100%;
        /* border: 5px solid brown; */
    }

    #professional-midia a i{
        text-decoration: none;
        padding: 25px;
    }
    
    #linkedin {
        margin-right: 0;
    }
}

@media (min-width: 1680px) {
    header {
        background-position-x: center;
        background-position-y: 0;
        background-size: auto;
    }
}